<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block"
      src="{{course.User.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h4>Name : {{course.User.name}}</h1>
    <h4>Country : {{course.User.nation}}</h3>
    <h4>課程名稱 : {{course.name}}</h3>
  </div>

      <div class="col-6" id="bookingForm">
        <div class="col-10 d-flex flex-column">
          <form action="/students/courses/{{course.id}}" method="POST">
            <input type="hidden" name="courseId" value="{{../courseId}}">
            <h6 class="mb-3 p-2" style="background-color:beige">
              預約上課
            </h6>

            <select name="classTime" id="classTime" class="form-select form-select-sm mt-3"
              aria-label=".form-select-sm example">
              <option selected>Time</option>
              {{#each availableTime}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
            </div>
          </form>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

   <hr>
</div>
<div class="row" style="text-align: left;">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>
      <div class="card-body">
        <p class="card-text">{{course.User.introduction}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Teaching Style
      </div>
      <div class="card-body">
        <p class="card-text">{{course.User.teachingStyle}}</p>
      </div>
    </div>
  </div>
</div>
 
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
<script src="/javascripts/booking.js"></script>