<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block"
      src="{{course.User.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8">
    <h4>Name : {{course.User.name}}</h1>
    <h4>Country : {{course.User.nation}}</h3>
    <h4>課程名稱 : {{course.name}}</h3>
  </div>
<form id="myForm" action="/students/courses/{{course.id}}" method="POST">
  <div class="form-row mb-3 w-25">
    <label class="form-label" for="timePeriod">預約上課 : </label>
    <select class="form-control" id="timePeriod" name="timePeriod">
      <option value="18:00">18:00</option>
      <option value="19:00">19:00</option>
      <option value="20:00">20:00</option>
    </select>
  </div>
  <input type="hidden" name="courseId" value="{{course.id}}">
  <button type="button" class="custom-solid-button booking-btn btn btn-primary mb-3" data-bs-toggle="modal" id="booking-course"
    data-bs-target="#book-course-model">預約</button>
  {{> booking}}
</form>
   <hr>
</div>
<div class="row" style="text-align: left;">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        Introduction
      </div>
      <div class="card-body">
        <p class="card-text">{{course.User.introduction}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Teaching Style
      </div>
      <div class="card-body">
        <p class="card-text">{{course.User.teachingStyle}}</p>
      </div>
    </div>
  </div>
</div>
 
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
<script src="/javascripts/booking.js"></script>