<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{student.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <h2>Name : {{student.name}}</h1>
      <h2>Country : {{student.nation}}</h2>
      <h2>About me:</h3>
      <p>{{student.introduction}}</p>
  </div>

  <div class="col-md-8">
    <h3>New Schedule</h3>
    {{#each newBookings}}
    <div class="list-group-item">
      <ul>
        <li><strong>Time</strong> : {{this.createdAt}}</li>
        <li><strong>Teacher's Name</strong> : {{this.Course.User.name}}</li>
        <li><strong>Session Link</strong> : <a href="{{this.Course.link}}">{{this.Course.link}}</a></li>
      </ul>
    </div>
    {{/each}}

    <h3>Lesson History</h3>
    {{#each lessonHistory}}
    <div class="card mb-3 my-3" style="max-width: 300px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{this.Course.User.avatar}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{this.Course.User.name}}</h5>
            <a href="/students/{{this.bookingId}}/comment" type="button" class="btn btn-outline-primary">Score</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

 <a href="/students/{{user.id}}/edit" class="btn btn-info btn-block" style="width:200px">Edit</a>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
