<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">Profile</h1>
</div>
<form action="/tutors/{{user.id}}/edit?_method=PUT" method="POST" enctype="multipart/form-data" style="width: 100%;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{user.name}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="introduction"> Your Introduction</label>
    <textarea class="form-control" id="introduction" name="introduction" rows="3"required>{{user.introduction}}</textarea>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="teachingStyle">Your Teaching Style</label>
    <textarea class="form-control" id="teachingStyle" name="teachingStyle" rows="3"required>{{user.teachingStyle}}</textarea>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="country">Country</label>
    <input type="text" id="country" name="country" class="form-control" placeholder="Country" value="{{user.nation}}">
  </div>
  <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="MON" autocomplete="off" value=0 name="days">
  <label class="btn btn-outline-primary me-3" for="MON">星期一</label>

  <input type="checkbox" class="btn-check" id="TUE" autocomplete="off" value=1 name="days">
  <label class="btn btn-outline-primary me-3" for="TUE">星期二</label>

  <input type="checkbox" class="btn-check" id="WED" autocomplete="off" value=2 name="days">
  <label class="btn btn-outline-primary me-3" for="WED">星期三</label>

  <input type="checkbox" class="btn-check" id="THU" autocomplete="off" value=3 name="days">
  <label class="btn btn-outline-primary me-3" for="THU">星期四</label>

  <input type="checkbox" class="btn-check" id="FRI" autocomplete="off" value=4 name="days">
  <label class="btn btn-outline-primary me-3" for="FRI">星期五</label>

  <input type="checkbox" class="btn-check" id="SAT" autocomplete="off" value=5 name="days">
  <label class="btn btn-outline-primary me-3" for="SAT">星期六</label>

  <input type="checkbox" class="btn-check" id="SUN" autocomplete="off" value=6 name="days">
  <label class="btn btn-outline-primary me-3" for="SUN">星期日</label>
</div>

<div class="form-row mb-3">
  <label class="form-label" for="startTime">開始時間</label>
  <input class="form-control" type="time" name="startTime" id="startTime" placeholder="Enter opening hours" step="1800"
    required autofocus>
</div>

<div class="form-row mb-3">
  <label class="form-label" for="endTime">結束時間</label>
  <input class="form-control" type="time" name="endTime" id="endTime" placeholder="Enter opening hours" step="1800"
    required autofocus>
</div>
  <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>