<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{tutor.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <h2>Name : {{tutor.name}}</h1>
      <h2>Country : {{tutor.nation}}</h2>
      <h2>About me:</h3>
      <p>{{tutor.introduction}}</p>
  </div>
   <div class="col-md-8">
    <h3>New Schedule</h3>
    {{#each newBookings}}
    <div class="list-group-item">
      <ul>
        <li><strong>Time</strong> : {{this.createdAt}}</li>
        <li><strong>Tutor's Name</strong> : {{this.Course.User.name}}</li>
        <li><strong>Session Link</strong> : <a href="{{this.Course.link}}">{{this.Course.link}}</a></li>
      </ul>
    </div>
    {{/each}}
  </div>
</div>
  
   <a href="/tutors/{{user.id}}/edit" class="btn btn-info btn-block" style="width:200px">Edit</a>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>