<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{tutor.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
      <h2>Name : {{tutor.name}}</h1>
      <h2>Country : {{tutor.nation}}</h2>
      <h2>About me:</h3>
      <p>{{tutor.introduction}}</p>
  </div>
   <div class="col-md-8">
    <h3>New Schedule</h3>
    {{#each newBookings}}
    <div class="list-group-item">
      <ul>
        <li><strong>Time</strong> : {{this.classTime}}</li>
        <li><strong>Student's Name</strong> : {{this.User.name}}</li>
        <li><strong>Session Link</strong> : <a href="{{this.Course.link}}">{{this.Course.link}}</a></li>
      </ul>
    </div>
    {{/each}}
    <div class="mb-8 my-3">
      <h3 class="my-3">Teaching Style : </h3>
      <p>{{tutor.teachingStyle}}</p>
    </div>
    <div class="mb-8 my-3">
      <h3 class="my-3">Recent Received </h3>
      {{#each recentReceived}}
      <div class="d-flex flex-row bd-highlight ">
        <div class="badge bg-danger h-25 mx-1">
          <i class="fas fa-star fa-xs">{{this.score}}</i>
        </div>
        <p>{{this.content}}</p>
      </div>
      {{/each}}
    </div>
  </div>
</div>
  
   <a href="/tutors/{{user.id}}/edit" class="btn btn-info btn-block" style="width:200px">Edit</a>
